$clr-primary-orange: hsl(12, 88%, 59%);
$clr-btn-hover: hsl(12, 88%, 59%, 0.4);
$clr-primary-blue: hsl(228, 39%, 23%);

$clr-neutral-gray: hsl(227, 12%, 61%);
$clr-neutral-dark-blue: hsl(233, 12%, 13%);
$clr-neutral-pale-red: hsl(13, 100%, 96%);
$clr-neutral-light-gray: hsl(0, 0%, 98%);

$font-family: "Be Vietnam Pro", sans-serif;
$font-size: 1rem;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

*,
*::before,
*::after {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size;
}

body.opened-menu {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(359deg, #000000d1, transparent);
    margin-top: -2rem;
  }
  overflow: hidden;
  .container {
    header {
      nav {
        display: flex;
        justify-content: center;
        top: 50%;
        margin-top: 3rem;
        padding: 3rem 0;
        box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
        background-color: $clr-neutral-light-gray;
        width: 100%;
        border-radius: 8px;
        ul {
          list-style: none;
          li {
            margin-bottom: 1.5rem;
            text-align: center;
            a {
              font-weight: 700;
              font-size: 1.2rem;
              color: $clr-primary-blue;
            }
          }
        }
      }
    }
  }
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.btn {
  font-weight: $font-weight-700;
  font-size: 0.7rem;
  width: 7.5rem;
  height: 2.3rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 8px 10px 1px $clr-btn-hover;
}

.btn-primary {
  background-color: $clr-primary-orange;
  color: $clr-neutral-light-gray;
  &:hover {
    background-color: $clr-btn-hover;
  }
}

.btn-secondary {
  background-color: $clr-neutral-light-gray;
  color: $clr-primary-orange;
  box-shadow: none;
}

.col {
  display: flex;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  nav {
    display: none;
    position: absolute;
  }
  .mobile-menu {
    .close-menu {
      display: none;
    }
  }
  button {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    background: url("../images/bg-tablet-pattern.svg");
  }
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 1rem;
  .hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2;
    h1 {
      font-size: 2.7rem;
      color: $clr-primary-blue;
    }
    p {
      padding: 0 1.7rem;
      margin-top: 1.7rem;
      font-size: 1.2rem;
      color: $clr-neutral-gray;
    }
    button {
      margin-top: 1.7rem;
      margin-bottom: 1rem;
    }
  }
  .hero_illustration {
    order: 1;
    img {
      width: 100%;
    }
  }
}

.about {
  .about_content {
    flex-direction: column;
    text-align: center;
    margin: 5rem 0 1rem 0;
    h2 {
      font-size: 2.5rem;
      color: $clr-primary-blue;
    }
    p {
      margin-top: 1.7rem;
      padding: 0 1.7rem;
      font-size: 1rem;
      line-height: 2rem;
      color: $clr-neutral-gray;
    }
  }
  .about_list {
    flex-direction: column;
    .list {
      margin-top: 3rem;
      .list_title {
        display: flex;
        align-items: center;
        background-color: $clr-neutral-pale-red;
        border-radius: 18px 0 0 18px;
        margin-right: -1rem;
        span {
          font-weight: $font-weight-700;
          font-size: 1.2rem;
          padding: 0.7rem 1.5rem;
          border-radius: 24px;
          color: $clr-neutral-light-gray;
          background-color: $clr-primary-orange;
        }
        h3 {
          margin-left: 1rem;
          font-size: 1.2rem;
          color: $clr-primary-blue;
        }
      }
      .list_content {
        p {
          margin-top: 0.8rem;
          font-size: 1rem;
          line-height: 2rem;
          color: $clr-neutral-gray;
        }
      }
    }
  }
}

.cta {
  background-color: $clr-primary-orange;
  padding: 7rem 0;
  margin-top: 2rem;
  .container {
    text-align: center;
    p {
      color: $clr-neutral-light-gray;
      font-size: 3rem;
      font-weight: 700;
    }
    button {
      margin-top: 1.7rem;
      font-size: 0.9rem;
      width: 9rem;
      height: 3rem;
    }
  }
}

.footer {
  background-color: $clr-primary-blue;
  padding: 3rem 0 2rem 0;
  .container {
    .newsletter {
      display: flex;
      justify-content: center;
      input {
        width: 60%;
        margin-right: 0.5rem;
        border: none;
        outline: none;
        border-radius: 24px;
        height: 3rem;
        padding: 0 2rem;
        font-size: $font-size;
      }
      button {
        width: 5rem;
        height: 3rem;
        font-size: 0.9rem;
      }
    }
    .footer-nav {
      display: flex;
      justify-content: space-around;
      ul {
        list-style: none;
        li {
          margin-top: 1.2rem;
          a {
            color: $clr-neutral-light-gray;
          }
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: space-around;
      a img {
        width: 2.5rem;
      }
    }
    .social-media,
    .footer-logo,
    .copyright {
      text-align: center;
    }
    .copyright {
      p {
        color: $clr-neutral-gray;
      }
    }
  }
  .container div:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

@import "_desktop";
