*,
*::before,
*::after {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}

body.opened-menu {
  position: relative;
  overflow: hidden;
}
body.opened-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(359deg, rgba(0, 0, 0, 0.8196078431), transparent);
  margin-top: -2rem;
}
body.opened-menu .container header nav {
  display: flex;
  justify-content: center;
  top: 50%;
  margin-top: 3rem;
  padding: 3rem 0;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  border-radius: 8px;
}
body.opened-menu .container header nav ul {
  list-style: none;
}
body.opened-menu .container header nav ul li {
  margin-bottom: 1.5rem;
  text-align: center;
}
body.opened-menu .container header nav ul li a {
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(228, 39%, 23%);
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  font-size: 0.7rem;
  width: 7.5rem;
  height: 2.3rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 8px 10px 1px hsla(12, 88%, 59%, 0.4);
}

.btn-primary {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
}
.btn-primary:hover {
  background-color: hsla(12, 88%, 59%, 0.4);
}

.btn-secondary {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
  box-shadow: none;
}

.col {
  display: flex;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}
header nav {
  display: none;
  position: absolute;
}
header .mobile-menu .close-menu {
  display: none;
}
header .mobile-menu.show .burger-menu {
  display: none;
}
header .mobile-menu.show .close-menu {
  display: block;
}
header button {
  display: none;
}
header::after {
  content: "";
  position: absolute;
  background: url("../images/bg-tablet-pattern.svg");
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 1rem;
}
.hero .hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;
}
.hero .hero_content h1 {
  font-size: 2.7rem;
  color: hsl(228, 39%, 23%);
}
.hero .hero_content p {
  padding: 0 1.7rem;
  margin-top: 1.7rem;
  font-size: 1.2rem;
  color: hsl(227, 12%, 61%);
}
.hero .hero_content button {
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}
.hero .hero_illustration {
  order: 1;
}
.hero .hero_illustration img {
  width: 100%;
}

.about .about_content {
  flex-direction: column;
  text-align: center;
  margin: 5rem 0 1rem 0;
}
.about .about_content h2 {
  font-size: 2.5rem;
  color: hsl(228, 39%, 23%);
}
.about .about_content p {
  margin-top: 1.7rem;
  padding: 0 1.7rem;
  font-size: 1rem;
  line-height: 2rem;
  color: hsl(227, 12%, 61%);
}
.about .about_list {
  flex-direction: column;
}
.about .about_list .list {
  margin-top: 3rem;
}
.about .about_list .list .list_title {
  display: flex;
  align-items: center;
  background-color: hsl(13, 100%, 96%);
  border-radius: 18px 0 0 18px;
  margin-right: -1rem;
}
.about .about_list .list .list_title span {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  border-radius: 24px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
}
.about .about_list .list .list_title h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: hsl(228, 39%, 23%);
}
.about .about_list .list .list_content p {
  margin-top: 0.8rem;
  font-size: 1rem;
  line-height: 2rem;
  color: hsl(227, 12%, 61%);
}

.testimonials {
  text-align: center;
  margin-top: 5rem;
}
.testimonials h2 {
  font-size: 2.5rem;
  color: hsl(228, 39%, 23%);
}
.testimonials .owl-carousel {
  margin-top: 4rem;
}
.testimonials .owl-carousel .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 8px;
  padding: 3rem 0;
  margin: 3rem auto 0 auto;
  background: hsl(0, 0%, 98%);
  position: relative;
}
.testimonials .owl-carousel .testimonial img {
  width: 90px;
  top: -18%;
  position: absolute;
}
.testimonials .owl-carousel .testimonial h3 {
  margin: 1.5rem 0;
  color: hsl(228, 39%, 23%);
}
.testimonials .owl-carousel .testimonial p {
  color: hsl(227, 12%, 61%);
  margin: 0 1.5rem;
}
.testimonials .owl-carousel .owl-dots {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.testimonials .owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border: 1px solid hsl(12, 88%, 59%);
  border-radius: 50%;
}
.testimonials .owl-carousel .owl-dots .owl-dot.active {
  background: hsl(12, 88%, 59%);
}
.testimonials .owl-carousel .owl-dots .owl-dot:not(:last-child) {
  margin-right: 0.25rem;
}

.cta {
  background-color: hsl(12, 88%, 59%);
  padding: 7rem 0;
  margin-top: 2rem;
}
.cta .container {
  text-align: center;
}
.cta .container p {
  color: hsl(0, 0%, 98%);
  font-size: 3rem;
  font-weight: 700;
}
.cta .container button {
  margin-top: 1.7rem;
  font-size: 0.9rem;
  width: 9rem;
  height: 3rem;
}

.footer {
  background-color: hsl(228, 39%, 23%);
  padding: 3rem 0 2rem 0;
}
.footer .container .newsletter {
  display: flex;
  justify-content: center;
}
.footer .container .newsletter input {
  width: 60%;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 24px;
  height: 3rem;
  padding: 0 2rem;
  font-size: 1rem;
}
.footer .container .newsletter button {
  width: 5rem;
  height: 3rem;
  font-size: 0.9rem;
}
.footer .container .footer-nav {
  display: flex;
  justify-content: space-around;
}
.footer .container .footer-nav ul {
  list-style: none;
}
.footer .container .footer-nav ul li {
  margin-top: 1.2rem;
}
.footer .container .footer-nav ul li a {
  color: hsl(0, 0%, 98%);
}
.footer .container .social-media {
  display: flex;
  justify-content: space-around;
}
.footer .container .social-media a img {
  width: 2.5rem;
}
.footer .container .social-media,
.footer .container .footer-logo,
.footer .container .copyright {
  text-align: center;
}
.footer .container .copyright p {
  color: hsl(227, 12%, 61%);
}
.footer .container div:not(:last-child) {
  margin-bottom: 3.5rem;
}

@media (min-width: 769px) {
  .container {
    width: 750px;
  }
  .col {
    width: 50%;
  }
  header nav {
    display: block;
    position: static;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header nav ul li {
    text-decoration: none;
  }
  header nav ul li a {
    font-size: 0.85rem;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
  }
  header nav ul li a:hover {
    color: hsl(227, 12%, 61%);
  }
  header nav ul li:not(:first-child) {
    padding-left: 1.8em;
  }
  header .mobile-menu {
    display: none;
  }
  header button {
    display: block;
  }
  .hero {
    flex-direction: row;
    gap: 5rem;
  }
  .hero .hero_content {
    align-items: flex-start;
    text-align: left;
    order: 1;
  }
  .hero .hero_content h1 {
    font-size: 3.5rem;
  }
  .hero .hero_content p {
    font-size: 1rem;
    width: 20rem;
  }
  .hero .hero_illustration {
    order: 2;
  }
  .about {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .about .about_content {
    text-align: left;
  }
  .about .about_content h2 {
    font-size: 2.5rem;
  }
  .about .about_content p {
    font-size: 1rem;
    width: 25rem;
    padding: 0;
  }
  .about .about_list {
    margin-top: 2rem;
  }
  .cta {
    margin-top: 8rem;
    padding: 4rem 0;
  }
  .cta .container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta .container p {
    text-align: left;
    font-size: 2.5rem;
    width: 600px;
  }
  .cta .container button {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 0.7rem;
    margin-top: 0;
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo footernav newsletter" "socialmedia footernav copyright";
  }
  .footer .container .newsletter {
    grid-area: newsletter;
  }
  .footer .container .footer-nav {
    grid-area: footernav;
  }
  .footer .container .social-media {
    grid-area: socialmedia;
    margin-bottom: 0;
    align-self: center;
    justify-content: center;
    margin: 0;
  }
  .footer .container .social-media a img {
    width: 1.5rem;
  }
  .footer .container .social-media a:not(:first-child) {
    margin-left: 1rem;
  }
  .footer .container .footer-logo {
    grid-area: logo;
  }
  .footer .container .copyright {
    grid-area: copyright;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}/*# sourceMappingURL=style.css.map */